@import url('https://fonts.googleapis.com/css?family=Abel');

:root{
  --blue: #556DC8; 
  --lightblue: #7998EE;
  --purple: #461E52;
  --pink: #DD517F;
  --orange: #E68E36;
}
/*mobile*/
@media only screen and (max-width: 992px) {
  .navi {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--orange);
    font-size: 32px;
    text-align: center;
    color:var(--purple);
  }
  .navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navi li {
    float: left;
  }
  
  .navi li a {
    display: block;
    color: var(--purple);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.footer {
  display: block;
  /* margin-top: 5rem; */
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--orange);
  font-size: 32px;
  text-align: center;
  color:var(--purple);
  /* margin-bottom: 5rem; */
}
.blog button{
  border-radius: 2px;
  background-color: var(--lightblue);
  font-size: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Abel';
}
.footer a{
  padding: 5px;
}
/* a{
  padding-left: 15px;
} */
h1{
font-size: 42px;
}
p{
  font-size: 32px;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.content ul{
  list-style-type: none;
  font-size: 24px
}
.center {
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid var(--orange); */
  font-family: 'Abel';
  padding: 10px;
  text-align: center;
  color: var(--pink);
  /* margin-bottom: 5rem; */
  /*   */
}
.content{
  height: 100%;
  margin-bottom: 5rem;
}
.header{
  padding-top: 5rem;
}
.blog{
  padding-top:5rem;
  padding-bottom:5rem;
}
.blog h2{
  font-size: 32px
}
.blog h3{
  font-size: 18px;
}
.blog p{
  font-size: 20px;
}
#borpa{
  font-size: 10px;
}
}

/*desktop*/
@media only screen and (min-width: 768px) {
  .navi {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--orange);
    font-size: 32px;
    align-items: center;
    color:var(--purple);
    margin-bottom: 5rem;
    font-family: 'Abel';

  }
  .navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navi li {
    float:left;
  }
  
  .navi li a {
    display: block;
    color: var(--purple);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .blog button{
    /* border-radius: 10px; */
    color: var(--orange);
    background-color: var(--lightblue);
    font-size: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Abel';
  }
  .content{
    height: 100%;
    margin-bottom: 5rem;
  }
  .footer {
  display: block;
  /* margin-top: 5rem; */
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--orange);
  font-size: 32px;
  text-align: center;
  color:var(--purple);
}
.footer a{
  padding: 5px;
}
.content ul{
  font-size: 32px;
  list-style-type: none;
}
/* a{
  padding-left: 15px;
} */
h1{
font-size: 42px;
}
p{
  font-size: 32px;
}
.header{
  margin-bottom: 0px;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.center {
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid var(--orange); */
  font-family: 'Abel';
  padding: 10px;
  text-align: center;
  color: var(--pink);
  /* margin-bottom: 5rem; */
  /* padding-top: 5rem; */
}
.header{
  padding-top: 5rem;
}
.blog{
  padding-top:5rem;
  padding-bottom:5rem;
}
.blog h2{
  font-size: 32px
}
.blog h3{
  font-size: 18px;
}
.blog p{
  font-size: 20px;
}
#borpa{
  font-size: 10px;
}
}