@import url('https://fonts.googleapis.com/css?family=Abel');

:root{
  --blue: #556DC8; 
  --lightblue: #7998EE;
  --purple: #461E52;
  --pink: #DD517F;
  --orange: #E68E36;
}
/*mobile*/
@media only screen and (max-width: 992px) {
.footer {
  display: block;
  margin-top: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--orange);
  font-size: 32px;
  text-align: center;
  color:var(--purple);
}
a{
  padding-left: 15px;
}
h1{
font-size: 42px;
}
p{
  font-size: 32px;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
ul{
  list-style-type: none;
}
.center {
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid var(--orange); */
  font-family: 'Abel';
  padding: 10px;
  text-align: center;
  color: var(--pink);
  margin-bottom: 20px;
}
.content{
  height: 100%;
  margin-bottom: 85px;
}
}

/*desktop*/
@media only screen and (min-width: 768px) {

  .content{
    height: 100%;
    margin-bottom: 85px;
  }
  .footer {
  display: block;
  margin-top: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--orange);
  font-size: 32px;
  text-align: center;
  color:var(--purple);
}
ul{
  font-size: 32px;
  list-style-type: none;
}
a{
  padding-left: 15px;
}
h1{
font-size: 42px;
}
p{
  font-size: 32px;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.center {
  margin: auto;
  /* width: 50%; */
  /* border: 3px solid var(--orange); */
  font-family: 'Abel';
  padding: 10px;
  text-align: center;
  color: var(--pink);
  margin-bottom: 20px;
}
}