@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Lora&family=Roboto:wght@700&display=swap');
:root{
  --blue: #556DC8; 
  --lightblue: #7998EE;
  --purple: #461E52;
  --pink: #DD517F;
  --orange: #E68E36;
  --white: #feffff;
  --teal: #3aafa9;
  --darkteal: #2B7A78;
  --mint: #DEF2F1;
  --dark: #17252A;
  --cream: #F3F1F5;
  --periwinkle: #f0d9ff;
  --pastelpurple: #BFA2DB;
  --pastelgray: #7F7C82;
}
@font-face {
  font-family: 'lemonmilk';
  src: url(./assets/LemonMilkMedium-mLZYV.otf);
}
@font-face {
  font-family: 'josefin';
  src: url(./assets/JosefinSansRegular-x3LYV.ttf);
}
/*mobile*/
@media only screen and (max-width: 992px) {
  .nav {
    background-color: var(--pastelpurple);
    font-size: 32px;
    color:var(--pastelgray);
    font-family: 'lemonmilk';
    z-index: 2;
    overflow: auto;
  }
  
.footer {
  display: block;
  bottom: 0px;
  padding: 1rem;
  width: 100%;
  height:100%;
  margin: 1rem auto auto auto;
  background-color: var(--pastelpurple);
  font-size: 32px;
  text-align: center;
  color:var(--pastelpurple);
}
.blog button{
  background-color: var(--pastelpurple);
    font-size: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'lemonmilk'
}
.footer a{
  padding: 5px;
}
/* a{
  padding-left: 15px;
} */
h1{
font-size: 20px;
}
p{
  font-size: 18px;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.content ul{
  list-style-type: none;
  font-size: 24px;
  
}

.content{
  height: 100%;
  width: 75%;
  margin: auto;
  /* margin-bottom: 2rem; */
  
  padding-bottom: 3rem;
  z-index: 1;
  text-align: center;
  font-family: 'Lora', serif;
}
.content p{
  color: black;
  text-decoration: none;
}
.contentContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.box {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
}
.technologies{
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
  padding-right: 1rem;
  margin-bottom: 1rem;
  order: 0;
}
.technologies ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
.technologies ul li {
  
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

.nottech{
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
  order: 1;
}
.defnottech{
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
  order: 2;
}
.playlist{
  height: 90%;
  border-radius: 10px;
  background-color: black;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.header{
  width: 75%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: auto;
  margin-top: 7rem;
  font-family: 'lemonmilk';
  margin-bottom: 1rem;
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
}
.blog{
  padding-top:7rem;
  padding-bottom:5rem;
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: 'Lora', serif;
  
}
.blogContent{
  margin-top: 1rem;
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
  padding: 1rem
}
.blog{
  padding-top:5rem;
  padding-bottom:5rem;
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: 'Lora', serif;
}
.blog h2{
  font-size: 32px;
  margin-top: 2rem;
}
.blog h3{
  font-size: 18px;
}
.blog p{
  font-size: 20px;
}
#borpa{
  font-size: 10px;
}
.github{
  margin-top: 5rem;
  padding-top: 1rem;
  margin-bottom:3rem;
  padding-bottom: 1rem;
  z-index: 1;
  width: 80%;
  margin: auto;
  font-family: 'Lora', serif;
}
}

/*desktop*/
@media only screen and (min-width: 768px) {
  body{
    background-color: var(--cream);
  }
  
  .nav {
    background-color: var(--pastelpurple);
    font-size: 32px;
    color:var(--pastelgray);
    font-family: 'lemonmilk';
    z-index: 2;
  }
  .navItem{
    color: white
  }
  .navbar-light .navbar-brand{
    color:var(--pastelgray)
  }
  .blog button{
    /* border-radius: 10px; */
    /* color: var(--darkteal); */
    background-color: var(--pastelpurple);
    font-size: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'lemonmilk'
  }
  
  .content{
    height: 100%;
    width: 75%;
    margin: auto;
    /* margin-bottom: 2rem; */
    padding-top: 2rem;
    padding-bottom: 3rem;
    z-index: 1;
    text-align: center;
    font-family: 'josefin'
  }
  .content p{
    color: black;
    text-decoration: none;
  }
  .contentContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-items: stretch;
    justify-content: center;
  }
  .box {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
    
  }
  .technologies{
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
    padding-right: 1rem;
    order: 0;
  }
  .technologies ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
  }
  .technologies ul li {
    
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
  }
  .nottech{
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
    order: 1;
  }
  .defnottech{
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
    order: 2;
  }
  .footer {
    display: block;
    bottom: 0px;
    padding: 1rem;
    width: 100%;
    height:100%;
    margin: auto;
    background-color: var(--pastelpurple);
    font-size: 32px;
    text-align: center;
    color:var(--pastelpurple);
}
.footer a{
  padding: 5px;
}
.footcontain{
  height:100%
}
.content ul{
  font-size: 32px;
  list-style-type: none;
  /* display: inline-block; */
  text-align: center;
  padding-left: 1rem;
}
/* a{
  padding-left: 15px;
} */
h1{
font-size: 42px;
}
p{
  font-size: 32px;
}
.playlist{
  height: 90%;
  border-radius: 10px;
  background-color: black;
}
.transparent{
  background: rgba(0, 0, 0, 0.3)
}
.header{
    width: 75%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: auto;
    margin-top: 7rem;
    font-family: 'lemonmilk';
    margin-bottom: 1rem;
    border: 5px solid var(--purple);
    border-radius: 10px;
    box-shadow: 10px 5px 5px  var(--pastelpurple);
}
.blog{
  padding-top:1rem;
  padding-bottom:5rem;
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: 'josefin'
  
}
.blogContent{
  margin-top: 1rem;
  border: 5px solid var(--purple);
  border-radius: 10px;
  box-shadow: 10px 5px 5px  var(--pastelpurple);
  padding: 1rem
}
.blog h2{
  font-size: 32px;
  margin-top: 2rem;
}
.blog h3{
  font-size: 18px;
}
.blog p{
  font-size: 20px;
}
#borpa{
  font-size: 10px;
}
.github{
  padding-top:1rem;
  padding-bottom: 1rem;
  z-index: 1;
  width: 75%;
  margin: 1rem auto 1rem auto;
  font-family: 'josefin';
}
.card{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
}