:root{
  --blue: #556DC8; 
  --lightblue: #7998EE;
  --purple: #461E52;
  --pink: #DD517F;
  --orange: #E68E36;
  --white: #feffff;
  --teal: #3aafa9;
  --darkteal: #2B7A78;
  --mint: #DEF2F1;
  --dark: #17252A;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mint);
  background-Position: 'center';
  background-Size: 'cover';
  background-Repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
